/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
hs_err_*.log
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### MacOS ###
.DS_Store

### JSBML ###
jsbml.log

### Maven ###
.mvn

### Swagger codegen
.swagger-codegen
.swagger-codegen-ignore

### other ###
external_libs_and_tools/
/logs/

### VisualVM
*.class
